<!DOCTYPE html>
<htmllang="en">
  <head>
    <metacharset="UTF-8"/>
    <metaname="viewport"content="width=device-width, initial-scale=1.0"/>
    <title>Sending invites to Mutli Tenant app</title>
  </head>
  <body>
    Hello {{user}},

    <p>You are invited to login into Mutli Tenant app. Use your email address as username and your temporary password is - <b>{{password}}</b> <br> Change password after login.<br></p>
    <a href={{absurl}}>{{absurl}}</a>

    <p>Thanks,<br/>Fortified logic</p>
  </body>
</html>